/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    color: white;
}


/* contents */

.vs-display-flex {
    display: flex;
}

.vs-display-none {
    display: none;
}

.vs-bg-green {
    background-color: #166923;
}

#options-bar {
    border: 2px solid white;
}

.form-check {
    margin-bottom: 0px !important;
}

h5 {
    margin-bottom: 0px !important;
}


/* effects */

#dice-generator:active {
    transform: scale(0.95);
}

#dice-generator2:active {
    transform: scale(0.95);
}

#options-button:active {
    transform: scale(0.95);
}