/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}


/* contents */

.vs-bg-green {
    background-color: #166923;
}

.form-check {
    margin-bottom: 0px !important;
}

h5 {
    margin-bottom: 0px !important;
}


/* effects */

#dice-generator:active {
    transform: scale(0.95);
}

#dice-generator2:active {
    transform: scale(0.95);
}